/* @font-face {
    font-family: 'Tilt Neon';
    src: url('font/TiltNeon-Regular.ttf');
} */

body {
    background-color: #000;
    font-family: 'Neonderthaw', cursive;
}

.countdown {
    color: #fff;
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #ff0077,
    0 0 82px #ff0077,
    0 0 92px #ff0077,
    0 0 102px #ff0077,
    0 0 151px #ff0077;

  }