/* @font-face {
    font-family: 'Tilt Neon';
    src: url('font/TiltNeon-Regular.ttf');
} */

body {
    background-color: #333;
    font-family: 'Tilt Warp', cursive;
}

.countdown {
    color: #ff1c82;
    line-height: 1.5em;
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    text-shadow:
    0 0 42px #ff0077,
    0 0 82px #ff0077,
    0 0 92px #ff0077;

  }